
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    font-family: "Rubik",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3498bd;
}
.currency-converter{
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 0 10 px rgba(0,0,0,0.1);
}
h1{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px  0px;
    margin-bottom: 15px;
    color: red;
    text-align: center;
    border-bottom: 2px #ccc dashed;
    border-top: 2px #ccc dashed;
}
.box{
    width: 100%;
    height: 200px;
    background-image: url("./assets/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.input-container{
    margin-bottom: 15px;
}
label{
    display: block;
    margin-bottom: 5px;
    color: #888;
}
input,select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
}
input:focus,select:focus{
    border-color: #3498bd;
}
.result{
    margin: 20px 0px;
    padding: 10px;
    border: 2px dotted #3498bd;
    border-radius: 5px;
}
.result p{
    
    color: #3498bd;
    font-weight: bold; 
    text-align: center;
}